* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.homePageContain{
  overflow: hidden;
}
body {
  background-color: #f8f7f5;
}
.MuiIconButton-root {
  height: 47px !important;
  width: 50px !important;
  border-radius: 100% !important;
}
.MuiIconButton-root:hover {
  background-color: rgb(228, 228, 228) !important;
}
.css-1toxriw-MuiList-root-MuiMenu-list {
  padding: 20px 0px !important;
  border-radius: 50px;
}
.search-Input {
  border: none !important;
  background-color: transparent !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.search-Input:focus {
  border: none !important;
  outline: none !important;
}
.avatar-menu .MuiPaper-root {
  top: 63px !important;
  left: 1076px !important;
}
.avatar-menu.css-1toxriw-MuiList-root-MuiMenu-list {
  padding: 10px 0px !important;
  border-radius: 50px;
}

.MuiDivider-root {
  width: 90% !important;
  margin: 0px auto !important;
  color: #e4e4e4 !important;
  margin-top: 7px !important;
}
.MuiButtonBase-root {
  color: #3f3f42 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.MuiItem-root {
  color: #adadad !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.css-1qltlow-MuiTabs-indicator {
  background-color: black !important;
  height: 4px !important;
}
.MuiTab-root {
  color: #9e9290 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
}
.MuiTab-root.Mui-selected {
  color: #000 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
}
.css-1kuwa16-MuiCardMedia-root {
  object-fit: fill !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
.css-19wss2v-MuiPaper-root-MuiCard-root {
  border-radius: 20px !important;
}
.MuiTypography-root {
  font-weight: 600 !important;
  font-size: 18px !important;
}
.css-1wle3ir-MuiTypography-root {
  font-size: 15px !important;
  margin-bottom: 13px !important;
}
.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  width: 360px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
.multiitem-linkroot {
  color: #3f3f42;
  font-size: 16px;
  font-weight: 600;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-decoration: none;
}
:global(.mutable-golabalclass .MuiTabs-indicator) {
  display: none !important;
}
.mutable-golabalclass .MuiTab-root:hover {
  color: #000 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  background-color: #e4e4e4 !important;
}
.mutable-golabalclass .MuiTab-root {
  color: #000 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  text-align: left !important;
  padding-right: 120px !important;
  border-radius: 12px !important;
}
.mutable-golabalclass .MuiTab-root.Mui-selected {
  color: #000 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
  background-color: #fae3ac !important;
}
.mutable-boxtabs {
  display: flex !important;
  text-align: left !important;
  gap: 40px !important;
}
.tab-panel {
  background-color: #ffffff !important;
  border-radius: 12px !important;
  flex: 1 1 0% !important;
  margin: 0px !important;
  height: fit-content !important;
  padding-top: 20px;
  padding-bottom: 70px;
  padding-left: 10px;
}
.tab-panel-text {
  margin-top: 8px;
  color: rgb(144, 144, 144);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}
.tab-panel-para {
  margin-top: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}
.MuiCardContent-root {
  background: #f8f7f5;
  text-align: center;
  padding: 16px 0px;
  border-radius: 12px;
}
.tab-paneltext-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
  padding-top: 30px;
}
.tab-panel-heading {
  font-weight: 600 !important;
  font-size: 30px !important;
  margin-bottom: 5px;
}
.body-two-text {
  margin: 0px;
  color: rgb(144, 144, 144);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 14px !important;
  padding-top: 6px;
}
.tab-panel-cardcontin{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MuiPaper-root{
  border: 1px solid #e4e4e4!important;
}